/* ======= general ======= */
body {
    /* Specify that <div> elements should have padding and border included in the element's total width and height */
    box-sizing: border-box;
    font-family: "Ariel", sans-serif;
}

/* ======= center ======= */
#page-wrap {
     width: 700px;
     margin: 0 auto;
     background-color: #eee;
     overflow-x: auto;
}

/* ======= containers ======= */
#header, #footer, #content {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: ghostwhite;
}
#content {
    height: 320px;
    padding: 20px 10px;
}
#footer {
    height: 140px;
}
h2 {
    margin: 10px;
}

/* ======= condo divs ======= */
.chair {
    border-radius: 10px 10px 4px 4px;
    border: 2px solid purple;
    background-color: thistle;
    box-shadow: 2px 2px 2px #555;
}
.couch {
    border-radius: 10px 10px 4px 4px;
    border: 2px solid indianred;
    background-color: darksalmon;
    box-shadow: 2px 2px 2px #555;
}

/* ======= condo divs ======= */
#condo {
    position: relative;
    margin: 20px auto;
    width: 360px;
    height: 180px;
    background-color: #eee;
}
#heightBar {
    visibility: hidden;
    position: relative;
    float: left;
    margin-top: 20px;
    margin-left: 140px;
    width: 4px;
    height: 184px;
    background-color: blue;
}
#widthBar {
    visibility: hidden;
    position: relative;
    width: 372px;
    height: 4px;
    margin: 20px auto;
    text-align: center;
    background-color: blue;
}
#heightBar > p {
    position: relative;
    top: 40%;
    left: -25px;
}
#widthBar > p {
    position: relative;
    top:10px;
}
.room {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border: solid 4px brown;
}
.room-label {
    margin: 5px;
    margin-bottom: 0;
    font-size: 16px;
    color: red;
}
.size-label {
    float: left;
    margin: 0 10px;
    font-size: 10px;
    color: blue;
}

/* ======= forms ======= */
#itemsForm, #roomsForm {
    /*visibility: hidden;*/
    float: left;
    margin: 10px;
    width: auto;
}
#width {
    width: 20px;
}
#height {
    width: 20px;
}
select, button {
    height: 24px;
}

/* ======= tables ======= */
#roomsTable, #formTable, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
#formTable {
    float: left;
    width: 300px;
    margin: 10px;
}
#roomsTable {
    /*visibility: hidden;*/
    float: right;
    width: 300px;
    margin: 20px;
    margin-right: 30px;
}
#roomsTable, th {
    height: 20px;
    font-size: 12px;
    background-color: #eee;
}
#formN, #formV {
    width: 100px;
}
#formW, #formH {
    width: 40px;
}
#roomInputs {
    height: 40px;
}
